.x-webkit .x-form-text {
  height: 100%;
}
.x-form-text-wrap.x-form-text-wrap-default {
  display: inline;
}

//fix tooltip bug.
.x-tip-body {
  padding-right: 25px;
  background-position: 2px 5px;
}

.x-css-shadow {
  @include box-shadow(none !important);
}
