$floating-action-button-color: $material-icon-color-black-active !default;
$floating-action-button-background-color: #fffc6d !default;

$wallet-color: #FFEB3B;

$wallet-pressed: #FFA000;
$wallet-over: #FFC107;

$spender-color: #009688;