//$panel-tool-focus-outline-style: none;
//$panel-body-background-color:$divider-color;
//$panel-header-color:#404040;

@include extjs-tab-panel-ui(
        $ui: 'editortabs',
        $ui-tab-background-color: #f5f5f5,
        $ui-bar-background-color: #fff,
        $ui-tab-border-radius: 4px 4px 0 0,
        $ui-tab-border-color: #E4E4E4,
        $ui-tab-padding: 6px 12px 6px 12px,
        $ui-tab-margin: 6px 0 0 3px,
        $ui-tab-font-size: 14px,
        $ui-bar-padding: 0 0 5px 0,
        $ui-strip-background-color: #289AD8,
        $ui-strip-height: 5px,
        $ui-strip-border-width: 0,
        $ui-tab-outline-style-focus: none
);
//@include extjs-panel-ui(
        //$ui: 'editortabpanel',
        //[$ui-border-color],
        //[$ui-border-radius],
        //[$ui-border-width],
        //[$ui-padding],
        //[$ui-header-color],
        //[$ui-header-font-family],
        //[$ui-header-font-size],
        //[$ui-header-font-weight],
        //[$ui-header-line-height],
        //[$ui-header-border-color],
        //[$ui-header-border-width],
        //[$ui-header-border-style],
        //$ui-header-background-color: red
        //[$ui-header-background-gradient],
        //[$ui-header-inner-border-color],
        //[$ui-header-inner-border-width],
        //[$ui-header-text-padding],
        //[$ui-header-text-margin],
        //[$ui-header-text-transform],
        //[$ui-header-padding],
        //[$ui-header-icon-width],
        //[$ui-header-icon-height],
        //[$ui-header-icon-spacing],
        //[$ui-header-icon-background-position],
        //[$ui-header-glyph-color],
        //[$ui-header-glyph-opacity],
        //[$ui-header-noborder-adjust],
        //[$ui-tool-spacing],
        //[$ui-tool-background-image],
        //[$ui-tool-glyph-color],
        //[$ui-tool-focus-outline-color],
        //[$ui-tool-focus-outline-style],
        //[$ui-tool-focus-outline-width],
        //[$ui-tool-focus-outline-offset],
        //[$ui-body-color],
        //[$ui-body-border-color],
        //[$ui-body-border-width],
        //[$ui-body-border-style],
        //[$ui-body-background-color],
        //[$ui-body-font-size],
        //[$ui-body-font-weight],
        //[$ui-background-stretch-top],
        //[$ui-background-stretch-bottom],
        //[$ui-background-stretch-right],
        //[$ui-background-stretch-left],
        //[$ui-include-border-management-rules],
        //[$ui-wrap-border-color],
        //[$ui-wrap-border-width],
        //[$ui-ignore-frame-padding]
//);


//
//@include extjs-tab-panel-ui(
//        $ui,
//[$ui-tab-background-color],
//[$ui-tab-background-color-focus],
//[$ui-tab-background-color-over],
//[$ui-tab-background-color-active],
//[$ui-tab-background-color-focus-over],
//[$ui-tab-background-color-focus-active],
//[$ui-tab-background-color-disabled],
//[$ui-tab-plain-background-color],
//[$ui-tab-plain-background-color-focus],
//[$ui-tab-plain-background-color-over],
//[$ui-tab-plain-background-color-active],
//[$ui-tab-plain-background-color-focus-over],
//[$ui-tab-plain-background-color-focus-active],
//[$ui-tab-plain-background-color-disabled],
//[$ui-tab-border-radius],
//[$ui-tab-border-width],
//[$ui-tab-border-width-focus],
//[$ui-tab-border-width-over],
//[$ui-tab-border-width-active],
//[$ui-tab-border-width-focus-over],
//[$ui-tab-border-width-focus-active],
//[$ui-tab-border-width-disabled],
//[$ui-tab-margin],
//[$ui-tab-padding],
//[$ui-tab-text-padding],
//[$ui-tab-border-color],
//[$ui-tab-border-color-focus],
//[$ui-tab-border-color-over],
//[$ui-tab-border-color-active],
//[$ui-tab-border-color-focus-over],
//[$ui-tab-border-color-focus-active],
//[$ui-tab-border-color-disabled],
//[$ui-tab-plain-border-color],
//[$ui-tab-plain-border-color-focus],
//[$ui-tab-plain-border-color-over],
//[$ui-tab-plain-border-color-active],
//[$ui-tab-plain-border-color-focus-over],
//[$ui-tab-plain-border-color-focus-active],
//[$ui-tab-plain-border-color-disabled],
//[$ui-tab-cursor],
//[$ui-tab-cursor-disabled],
//[$ui-tab-font-size],
//[$ui-tab-font-size-focus],
//[$ui-tab-font-size-over],
//[$ui-tab-font-size-active],
//[$ui-tab-font-size-focus-over],
//[$ui-tab-font-size-focus-active],
//[$ui-tab-font-size-disabled],
//[$ui-tab-font-weight],
//[$ui-tab-font-weight-focus],
//[$ui-tab-font-weight-over],
//[$ui-tab-font-weight-active],
//[$ui-tab-font-weight-focus-over],
//[$ui-tab-font-weight-focus-active],
//[$ui-tab-font-weight-disabled],
//[$ui-tab-font-family],
//[$ui-tab-font-family-focus],
//[$ui-tab-font-family-over],
//[$ui-tab-font-family-active],
//[$ui-tab-font-family-focus-over],
//[$ui-tab-font-family-focus-active],
//[$ui-tab-font-family-disabled],
//[$ui-tab-line-height],
//[$ui-tab-color],
//[$ui-tab-color-focus],
//[$ui-tab-color-over],
//[$ui-tab-color-active],
//[$ui-tab-color-focus-over],
//[$ui-tab-color-focus-active],
//[$ui-tab-color-disabled],
//[$ui-tab-plain-color],
//[$ui-tab-plain-color-focus],
//[$ui-tab-plain-color-over],
//[$ui-tab-plain-color-active],
//[$ui-tab-plain-color-focus-over],
//[$ui-tab-plain-color-focus-active],
//[$ui-tab-plain-color-disabled],
//[$ui-tab-background-gradient],
//[$ui-tab-background-gradient-focus],
//[$ui-tab-background-gradient-over],
//[$ui-tab-background-gradient-active],
//[$ui-tab-background-gradient-focus-over],
//[$ui-tab-background-gradient-focus-active],
//[$ui-tab-background-gradient-disabled],
//[$ui-tab-inner-border-width],
//[$ui-tab-inner-border-width-focus],
//[$ui-tab-inner-border-width-over],
//[$ui-tab-inner-border-width-active],
//[$ui-tab-inner-border-width-focus-over],
//[$ui-tab-inner-border-width-focus-active],
//[$ui-tab-inner-border-width-disabled],
//[$ui-tab-inner-border-color],
//[$ui-tab-inner-border-color-focus],
//[$ui-tab-inner-border-color-over],
//[$ui-tab-inner-border-color-active],
//[$ui-tab-inner-border-color-focus-over],
//[$ui-tab-inner-border-color-focus-active],
//[$ui-tab-inner-border-color-disabled],
//[$ui-tab-inner-border-collapse],
//[$ui-tab-inner-border-collapse-focus],
//[$ui-tab-inner-border-collapse-over],
//[$ui-tab-inner-border-collapse-active],
//[$ui-tab-inner-border-collapse-focus-over],
//[$ui-tab-inner-border-collapse-focus-active],
//[$ui-tab-inner-border-collapse-disabled],
//[$ui-tab-outline-width-focus],
//[$ui-tab-outline-style-focus],
//[$ui-tab-outline-color-focus],
//[$ui-tab-outline-offset-focus],
//[$ui-tab-body-outline-width-focus],
//[$ui-tab-body-outline-style-focus],
//[$ui-tab-body-outline-color-focus],
//[$ui-tab-icon-width],
//[$ui-tab-icon-height],
//[$ui-tab-icon-spacing],
//[$ui-tab-icon-background-position],
//[$ui-tab-glyph-color],
//[$ui-tab-glyph-color-focus],
//[$ui-tab-glyph-color-over],
//[$ui-tab-glyph-color-active],
//[$ui-tab-glyph-color-focus-over],
//[$ui-tab-glyph-color-focus-active],
//[$ui-tab-glyph-color-disabled],
//[$ui-tab-plain-glyph-color],
//[$ui-tab-plain-glyph-color-focus],
//[$ui-tab-plain-glyph-color-over],
//[$ui-tab-plain-glyph-color-active],
//[$ui-tab-plain-glyph-color-focus-over],
//[$ui-tab-plain-glyph-color-focus-active],
//[$ui-tab-plain-glyph-color-disabled],
//[$ui-tab-glyph-opacity],
//[$ui-tab-glyph-opacity-disabled],
//[$ui-tab-opacity],
//[$ui-tab-opacity-focus],
//[$ui-tab-opacity-over],
//[$ui-tab-opacity-active],
//[$ui-tab-opacity-focus-over],
//[$ui-tab-opacity-focus-active],
//[$ui-tab-opacity-disabled],
//[$ui-tab-background-opacity],
//[$ui-tab-background-opacity-focus],
//[$ui-tab-background-opacity-over],
//[$ui-tab-background-opacity-active],
//[$ui-tab-background-opacity-focus-over],
//[$ui-tab-background-opacity-focus-active],
//[$ui-tab-background-opacity-disabled],
//[$ui-tab-text-opacity-disabled],
//[$ui-tab-icon-opacity-disabled],
//[$ui-strip-height],
//[$ui-strip-border-width],
//[$ui-strip-border-color],
//[$ui-strip-background-color],
//[$ui-bar-border-width],
//[$ui-bar-border-color],
//[$ui-bar-padding],
//[$ui-bar-plain-padding],
//[$ui-bar-background-color],
//[$ui-bar-background-gradient],
//[$ui-bar-scroller-width],
//[$ui-bar-scroller-cursor],
//[$ui-bar-scroller-cursor-disabled],
//[$ui-bar-scroller-opacity],
//[$ui-bar-scroller-opacity-over],
//[$ui-bar-scroller-opacity-pressed],
//[$ui-bar-scroller-opacity-disabled],
//[$ui-bar-scroller-glyph-color],
//[$ui-bar-plain-scroller-glyph-color],
//[$ui-bar-scroller-top-glyph],
//[$ui-bar-scroller-right-glyph],
//[$ui-bar-scroller-bottom-glyph],
//[$ui-bar-scroller-left-glyph],
//[$ui-tab-closable-icon-width],
//[$ui-tab-closable-icon-height],
//[$ui-tab-closable-icon-top],
//[$ui-tab-closable-icon-right],
//[$ui-tab-closable-icon-spacing],
//[$ui-tab-closable-icon-glyph-color],
//[$ui-tab-closable-icon-glyph-color-focus],
//[$ui-tab-closable-icon-glyph-color-over],
//[$ui-tab-closable-icon-glyph-color-active],
//[$ui-tab-closable-icon-glyph-color-focus-over],
//[$ui-tab-closable-icon-glyph-color-focus-active],
//[$ui-tab-closable-icon-glyph-color-disabled],
//[$ui-tab-plain-closable-icon-glyph-color],
//[$ui-tab-plain-closable-icon-glyph-color-focus],
//[$ui-tab-plain-closable-icon-glyph-color-over],
//[$ui-tab-plain-closable-icon-glyph-color-active],
//[$ui-tab-plain-closable-icon-glyph-color-focus-over],
//[$ui-tab-plain-closable-icon-glyph-color-focus-active],
//[$ui-tab-plain-closable-icon-glyph-color-disabled],
//[$ui-tab-closable-icon-glyph] )